<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Boot AngularJS</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
        <title>Spring Boot AngularJS example</title>
        <script src="js/app/app.js"></script>
    </head>
    <body ng-app="UserManagement" ng-controller="UserController">
        <h1>User</h1>
        <form ng-submit="submitUser()">
            <table>
     
                <tr>
                    <th colspan="2">Add/Edit user</th>
                </tr>
                <tr>
                    <td>User Name</td>
                    <td><input type="text" ng-model="userForm.name" /></td>
                </tr>
                <tr>
                    <td>Profile</td>
                    <td><input type="text" ng-model="userForm.profile_id" /></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" ng-model="userForm.email" /></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="text" ng-model="userForm.password" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Submit"
                        class="blue-button" /></td>
                </tr>
            </table>
        </form>
        <form ng-submit="submitSearch(userSearch)">
            <tr>
                <td>Filtrar por nome</td>
                <td><input type="text" ng-model="userSearch.name" /></td>
                <tr>
                    <td colspan="2"><input type="submit" value="Submit"
                        class="blue-button" /></td>
                </tr>
            </tr>
        </form>
        <form ng-submit="submitSearch(userSearch)">
            <tr>
                <td>Filtrar por email</td>
                <td><input type="text" ng-model="userSearch.email" /></td>
                <tr>
                    <td colspan="2"><input type="submit" value="Submit"
                        class="blue-button" /></td>
                </tr>
            </tr>
        </form>
        <table>
            <tr>
     
                <th>Name</th>
                <th>Profile</th>
                <th>Email</th>
                <th>Password</th>
                <th>Operations</th>
     
            </tr>
     
            <tr ng-repeat="user in users">
     
                <td>{{ user.name }}</td>
                <td>{{ user.profile_id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
     
                <td><a ng-click="editUser(user)" class="blue-button">Edit</a>
                    | <a ng-click="deleteUser(user)" class="red-button">Delete</a></td>
            </tr>
     
        </table>
        <h1 th:inline="text"><span th:remove="tag" sec:authentication="name">Logged user</span></h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
</html>